/* header=============================*/

.header{display: flex;
      background-color: blueviolet;
      padding: 50px;
      justify-content: space-between;
      
}
.list{display: flex;

      color: rgb(217, 205, 205);
      list-style: none;
      gap: 20px;
      font: 200;
    
}


.pic{display: flex;
     justify-content:space-evenly;}

.tt{height: 60px;}
.person{align-content: center;}

.toto{display: flex;
justify-content: space-evenly;}

.tito1{width: 100;}

.logo{align-content: flex-start;}
.options {justify-content: right;}



body{background-color: bisque;
    display:flex;
    flex-direction:column;
    
    
    }
    main{background-color: brown;
        display:flex;
        flex-direction:row;
        flex:auto


        /*aside==============================================*/

        .aside div{
            padding: 10px;
            margin: 10px;
            display: flex;
            align-content: center;
        }
        .aside .first-how{background-color: aliceblue;}
        .aside .second-how{background-color: antiquewhite;}
        .aside .third-how{background-color: azure;}

        
  }
  article{background-color: aqua;
flex: 2;overflow-y: auto;}
  aside{background-color: aquamarine;flex:1;overflow-y: auto;}
  footer{background-color: blueviolet;}
  div.part1{background-color: azure;}
  div.part2{background-color: antiquewhite ;}


  